html {
  min-height: 100vh;
  min-width: 300px;
  font-family: 'Ovo', serif;
  font-size: 60px;
  color: white;
  overflow: hidden;
}

.row {
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  border: 1px dotted black;
  background-size: cover;
  background-position:center;
  transition:
    flex 0.7s cubic-bezier(0.57,-0.18,0.93,0.05),
    font-size 0.7s cubic-bezier(0.57,0.18,0.93,0.05);
}

.panel > * {
  flex: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;

}

.panel-1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?forest);
}

.panel-2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?tundra,snow,ice,winter);
}

.panel-3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?mountain);
}

.panel-4 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?city);
}

.panel-5 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?sea);
}

.panel-1:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?forest);
}

.panel-2:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?tundra,snow,ice,winter);
}

.panel-3:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?mountain);
}

.panel-4:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?city);
}

.panel-5:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?sea);
}

.panel.open {
  flex: 5;
  font-size: 2rem;
}

/* .panel > *:first-child { transform: translateY(-700%); }
.panel > *:last-child { transform: translateY(700%); }
.panel.open *:first-child { transform: translateY(0); }
.panel.open *:last-child { transform: translateY(0); } */
