html {
  min-height: 100vh;
  min-width: 300px;
  font-family: 'Ovo', serif;
  font-size: 30px;
  color: white;
  overflow: hidden;
}

.panel > :nth-child(2) {
  font-size: 2em;
}

.row {
  height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  background-size: cover;
  background-position:center;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  transition:
    flex 0.7s cubic-bezier(0.57,-0.18,0.93,0.05),
    font-size 0.7s cubic-bezier(0.57,-0.18,0.93,0.05);
}

.panel > * {
  flex: 1 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s cubic-bezier(1, 0.01,0.26,0.97);
}

.panel-1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?forest);
}

.panel-2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?tundra,snow,ice,winter);
}

.panel-3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?mountain);
}

.panel-4 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?city);
}

.panel-5 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(https://source.unsplash.com/1600x900/?sea);
}

.panel-1:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?forest);
}

.panel-2:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?tundra,snow,ice,winter);
}

.panel-3:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?mountain);
}

.panel-4:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?city);
}

.panel-5:hover {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(https://source.unsplash.com/1600x900/?sea);
}

.panel.open {
  flex: 5;
  font-size: 2.3em;
}

.panel>*:first-child {
  transform: translateY(-100%);
}

.panel.open>*:first-child {
  transform: translateY(0);
}

.panel>*:last-child {
  transform: translateY(100%);
}

.panel.open>*:last-child {
  transform: translateY(0);
}
